<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="white" />
    <meta name="HandheldFriendly" content="true" />

    <link rel="icon" href="<%= BASE_URL %>ic_launcher.png" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
    <link rel="manifest" href="<%= BASE_URL %>manifest.webmanifest" />

    <title>Contrax</title>
  </head>
  <body>
    <noscript>
      <strong
        >We're sorry but contrax-fe doesn't work properly without JavaScript
        enabled. Please enable it to continue.</strong
      >
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
  <style>
    @import url("https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap");
    @import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

    body {
      font-family: "Roboto", sans-serif;
      color: black;
    }
  </style>
</html>
