<template>
  <div class="loan">
    <div v-if="!error" class="loan">
      <div class="header loan-header">
        <div class="loan-header">
          <h3>Loan with {{ formatName(otherUser) }}</h3>

          <div class="header-buttons">
            <contrax-button @click="goBack" :disabled="waitingForResponse">
              <close-icon class="button-icon" />Cancel
            </contrax-button>

            <contrax-button
              @click="submitMutation"
              background-color="green"
              hover-background-color="#00aa00"
              :disabled="waitingForResponse"
            >
              <check-icon class="button-icon" />Done
            </contrax-button>
          </div>
        </div>

        <span v-if="!!mutationError" class="mutation-error">
          Could create mutation. The server said:
          <code>
            {{ mutationError.message }}
          </code>
        </span>
      </div>

      <form class="loan-form" @submit.prevent>
        <label for="amount">Amount</label>
        <br />€&nbsp;
        <input
          type="text"
          inputmode="decimal"
          id="amount"
          v-model="amount"
          class="text-field"
          name="amount"
          data-type="currency"
          placeholder="1,00"
          autocomplete="off"
          autofill="off"
          required
          oninvalid="setCustomValidity(' ')"
          oninput="try{setCustomValidity('')}catch(e){}"
          @keyup="formatCurrency(), checkValidity('amount')"
          @keyup.enter="focus('amount', 'description')"
          @blur="formatCurrencyAfter(), checkCurrencyValidityAfter('amount')"
        />
        <div class="validity" id="amount-validity">
          <p>Fill in a (valid) amount</p>
        </div>
        <br />
        <br />
        <label for="description">Description</label>
        <br />
        <textarea
          type="text"
          placeholder="Description"
          id="description"
          v-model="description"
          maxlength="255"
          autocomplete="off"
          autofill="off"
          @keyup="checkValidity('description')"
          @blur="checkValidityAfter('description')"
        />
        <div class="validity" id="description-validity">
          <p>Max length is 255 characters</p>
        </div>
      </form>
    </div>

    <div v-if="error" class="error-container">
      <h3>Could not get the loan</h3>
      <span>
        The server said:
        <br />
        <code class="error-message">{{ error.message }}</code>
      </span>
      <br />
      <contrax-button @click="goBack">Go back</contrax-button>
    </div>
  </div>
</template>

<script lang="ts">
import Loans from "@/components/Loans.vue";
import { Vue, Component } from "vue-property-decorator";
import * as ContraxAPI from "@/api";
import user from "@/store/modules/user";
import { formatName } from "@/format";
import ContraxButton from "@/components/ContraxButton.vue";
import loan from "@/store/modules/loan";
import CheckIcon from "vue-material-design-icons/Check.vue";
import CloseIcon from "vue-material-design-icons/Close.vue";
import ContraxTextInput from "@/components/ContraxTextInput.vue";
import { createAPI } from "@/apiUtils";
import {
  setElementValidity,
  setElementValidityAfter,
  setCurrencyValidityAfter,
  resetElementValidity,
  formatCurrencyElement,
  formatCurrencyElementAfter,
  focusElement,
  resetFormElement
} from "@/formFunctions";
import { AxiosError } from "axios";

@Component({
  components: { CheckIcon, CloseIcon, ContraxButton, Loans, ContraxTextInput }
})
export default class EditLoan extends Vue {
  loan: ContraxAPI.Loan | null = null;
  otherUser: ContraxAPI.User | null = null;
  mutationError: ContraxAPI.ModelError | null = null;
  amount: string = "";
  description: string = "";
  waitingForResponse: boolean = false;

  formatCurrency() {
    this.amount = formatCurrencyElement(this.amount);
  }

  formatCurrencyAfter() {
    this.amount = formatCurrencyElementAfter(this.amount);
  }

  checkValidity(elementId: string) {
    setElementValidity(elementId);
  }

  checkValidityAfter(elementId: string) {
    setElementValidityAfter(elementId);
  }

  checkCurrencyValidityAfter(elementId: string) {
    setCurrencyValidityAfter(elementId);
  }

  resetValidity(elementId: string) {
    resetElementValidity(elementId);
  }

  focus(inputElementId: string, focusElementId: string) {
    focusElement(inputElementId, focusElementId);
  }

  get error() {
    return loan.error;
  }

  created() {
    if (user.signedIn) this.doLoad();
    else {
      this.$store.watch(
        _ => user.signedIn,
        (signedIn, oldSignedIn) => {
          if (signedIn && !oldSignedIn) this.doLoad();
        }
      );
    }
  }

  async doLoad() {
    await loan.getByID(Number(this.$router.currentRoute.params.id));
    if (!loan.error) {
      this.loan = loan.loan;
    }

    if (this.loan?.fromUser.id !== user?.user?.id)
      this.otherUser = this.loan?.fromUser || null;
    else this.otherUser = this.loan?.toUser || null;

    this.amount = String(this.loan?.amount);
    this.description = this.loan?.description || "";
  }

  get mutated() {
    return (
      this.amount !== String(this.loan?.amount) ||
      this.description !== this.loan?.description
    );
  }

  async submitMutation() {
    let api = createAPI(ContraxAPI.LoanApiFactory);

    if (!this.loan?.id || !this.mutated || this.amount === "") return;

    let amount = parseFloat(this.amount);
    if (isNaN(amount) || amount === 0) return;

    try {
      if (!!this.loan?.fulfilledAt || !this.loan?.approvedAt) return;

      this.waitingForResponse = true;
      await api.createLoanMutation(this.loan.id, {
        amount: amount !== this.loan?.amount ? amount : undefined,
        description:
          this.description ?? undefined !== this.loan?.description
            ? this.description
            : undefined
      });
      this.goBack();
    } catch (e) {
      this.mutationError = (e as AxiosError)?.response
        ?.data as ContraxAPI.ModelError;
    } finally {
      this.waitingForResponse = false;
    }
  }

  formatName(user?: ContraxAPI.User) {
    return formatName(user?.firstName ?? "", user?.lastName ?? "");
  }

  goBack() {
    if (window.history.length > 1) this.$router.back();
    else this.$router.replace("/");
  }
}
</script>

<style scoped lang="scss">
.loan-header {
  display: flex;
  justify-content: space-between;

  padding-left: 1em;
  padding-right: 1em;
}

.header-buttons {
  display: flex;
  justify-content: flex-end;
}

.header-buttons button {
  margin-left: 0.8em;
}

.button-icon {
  margin-right: 0.2em;
}

.loan-form {
  margin: 1em;
}

textarea,
.text-field {
  padding: 0.5em;
  margin-top: 3px;
  outline: none;
  border: 0;
  background-color: #f9f9f9;
  border-bottom: 2px solid grey;
  max-width: 50vw;

  &:hover,
  &:focus {
    background-color: #f3f3f3;
  }
}

.validity {
  display: none;
  color: #cc0000;
}

.error-container {
  margin-left: 1em;
}

.error-message {
  margin-left: 1em;
}

.loan {
  grid-column: 1/4;
}
</style>
