<template>
  <div class="history">
    <h1 class="header center row1">History</h1>
    <div class="column column-left row2">
      <h2 class="center debt">Debt</h2>
    </div>

    <div class="column-line"></div>
    <div class="row-line row4"></div>

    <div class="column column-right row5">
      <h2 class="center credit">Credit</h2>
    </div>
    <loans class="column column-left row3" loanType="debt" status="fulfilled" />
    <loans
      class="column column-right row6"
      loanType="credit"
      status="fulfilled"
    />
  </div>
</template>

<script>
import Loans from "@/components/Loans.vue";
import { Vue, Component } from "vue-property-decorator";

@Component({ components: { Loans } })
export default class History extends Vue {}
</script>
