<template>
  <div class="home">
    <h1 class="header center row1">Balance: {{ total }}</h1>
    <div class="column column-left row2">
      <h2 class="center debt">Debt: {{ debtString }}</h2>
    </div>

    <div class="column-line"></div>
    <div class="row-line row4"></div>

    <div class="column column-right row5">
      <h2 class="center credit">Credit: {{ creditString }}</h2>
    </div>
    <loans class="column column-left row3" loanType="debt" status="open" />
    <loans class="column column-right row6" loanType="credit" status="open" />
  </div>
</template>

<script lang="ts">
import Loans from "@/components/Loans.vue";
import { Vue, Component } from "vue-property-decorator";
import balance from "@/store/modules/balance";
import user from "@/store/modules/user";
import { formatCurrencyNL } from "@/format";

@Component({ components: { Loans } })
export default class Home extends Vue {
  created() {
    if (user.signedIn) this.doLoad();
    else {
      this.$store.watch(
        _ => user.signedIn,
        (signedIn, oldSignedIn) => {
          if (signedIn && !oldSignedIn) this.doLoad();
        }
      );
    }
  }

  get credit() {
    return balance.balanceSet ? balance.balance!!.credit : 0;
  }

  get debt() {
    return balance.balanceSet ? balance.balance!!.debt : 0;
  }

  get creditString() {
    return formatCurrencyNL(this.credit);
  }

  get debtString() {
    return formatCurrencyNL(this.debt);
  }

  get total() {
    let totalBalance = this.credit - this.debt;
    let totalBalanceStr = formatCurrencyNL(Math.abs(totalBalance));
    if (totalBalance < 0) {
      return totalBalanceStr + " (debt)";
    }
    if (totalBalance > 0) {
      return totalBalanceStr + " (credit)";
    }
    return totalBalanceStr;
  }

  async doLoad() {
    if (!balance.isLoading) await balance.refresh();
  }
}
</script>
