<template>
  <div>
    <transition name="fade">
      <div v-show="loading" class="fade-in-out loading-icon">
        <br />
        <loading-icon class="spinning" />
      </div>
    </transition>

    <div v-if="!error && !loading && loan" class="loan">
      <div class="header">
        <div class="loan-header">
          <h3>Loan with {{ formatName(otherUser) }}</h3>

          <div class="header-buttons">
            <contrax-button
              @click="fulfillLoan"
              background-color="green"
              hover-background-color="#00aa00"
              :disabled="!userCanEdit || waitingForResponse"
              :title="disabledTooltip"
              v-if="!userCanApprove"
            >
              <check-icon class="button-icon" />Fulfill
            </contrax-button>

            <contrax-button
              @click="editLoan"
              :disabled="!userCanEdit || waitingForResponse"
              :title="disabledTooltip"
              v-if="!userCanApprove"
            >
              <pencil-outline-icon class="button-icon" />Edit
            </contrax-button>

            <contrax-button
              @click="rejectLoan"
              v-if="userCanApprove"
              :disabled="waitingForResponse"
            >
              <close-icon class="button-icon" />Reject
            </contrax-button>

            <contrax-button
              @click="approveLoan"
              background-color="green"
              hover-background-color="#00aa00"
              v-if="userCanApprove"
              :disabled="waitingForResponse"
            >
              <check-icon class="button-icon" />Approve
            </contrax-button>
          </div>
        </div>

        <span v-if="!!mutationError" class="mutation-error">
          Could mutate. The server said:
          <code>
            {{ mutationError.message }}
          </code>
        </span>
      </div>

      <div class="loan-information">
        <span
          >Created at: {{ loan.createdAt.toLocaleTimeString() }}
          {{ fullDate(loan.createdAt) }}</span
        >
        <span v-if="loan.fulfilledAt != null"
          >Fulfilled at: {{ loan.fulfilledAt.toLocaleTimeString() }}
          {{ fullDate(loan.fulfilledAt) }}
        </span>
        <span>Amount: {{ amount }}</span>
        <span>Description: {{ loan.description }}</span>
        <span>
          User receiving the money:
          {{ formatName(loan.fromUser) }} &lt;{{ loan.fromUser.email }}&gt;
        </span>
      </div>

      <div
        class="loan-mutations"
        v-if="loan.hasPendingMutations && loan.fulfilledAt == null"
      >
        <loan-mutations :loan-id="loan.id" />
      </div>
    </div>

    <div v-if="error" class="error-container">
      <h3>Could not get the loan</h3>
      <span>The server said:</span>
      <br />
      <code class="error-message">{{ error.message }}</code>
      <br />
      <contrax-button @click="goBack">Go back</contrax-button>
    </div>
  </div>
</template>

<script lang="ts">
import LoadingIcon from "vue-material-design-icons/Loading.vue";
import Loans from "@/components/Loans.vue";
import { Vue, Component } from "vue-property-decorator";
import * as ContraxAPI from "@/api";
import user from "@/store/modules/user";
import { formatCurrencyNL, formatName } from "@/format";
import ContraxButton from "@/components/ContraxButton.vue";
import loan from "@/store/modules/loan";
import PencilOutlineIcon from "vue-material-design-icons/PencilOutline.vue";
import CheckIcon from "vue-material-design-icons/Check.vue";
import ContraxTextInput from "@/components/ContraxTextInput.vue";
import { createAPI } from "@/apiUtils";
import LoanMutations from "@/components/LoanMutations.vue";
import CloseIcon from "vue-material-design-icons/Close.vue";
import loanMutations from "@/store/modules/loanMutations";
import { AxiosError } from "axios";

@Component({
  components: {
    LoanMutations,
    PencilOutlineIcon,
    CheckIcon,
    ContraxButton,
    Loans,
    ContraxTextInput,
    CloseIcon,
    LoadingIcon
  }
})
export default class Loan extends Vue {
  otherUser: ContraxAPI.User | null = null;
  mutationError: ContraxAPI.ModelError | null = null;
  waitingForResponse: boolean = false;

  get error() {
    return loan.error;
  }

  get loading() {
    return loan.isLoading;
  }

  get loan() {
    return loan.loan;
  }

  get amount() {
    return formatCurrencyNL(this.loan?.amount ?? 0);
  }

  get userCanEdit(): boolean {
    return !this.loan?.fulfilledAt && !!this.loan?.approvedAt;
  }

  get userCanApprove(): boolean {
    return (
      !this.loan?.fulfilledAt &&
      !this.loan?.approvedAt &&
      this.currentUserIsApprovalUser
    );
  }

  get disabledTooltip() {
    if (this.loan?.fulfilledAt) return "Loan already fulfilled";
    if (!this.loan?.approvedAt) return "Loan not approved yet";
    return undefined;
  }

  get currentUserIsApprovalUser() {
    return (
      (this.loan?.approvalUser == ContraxAPI.LoanApprovalUserEnum.From &&
        user.user?.id == this.loan?.fromUser.id) ||
      (this.loan?.approvalUser == ContraxAPI.LoanApprovalUserEnum.To &&
        user.user?.id == this.loan?.toUser.id)
    );
  }

  created() {
    if (user.signedIn) this.doLoad();
    else {
      this.$store.watch(
        _ => user.signedIn,
        (signedIn, oldSignedIn) => {
          if (signedIn && !oldSignedIn) this.doLoad();
        }
      );
    }
  }

  async doLoad() {
    await loan.getByID(parseInt(this.$router.currentRoute.params.id));

    if (this.loan?.fromUser.id !== user?.user?.id)
      this.otherUser = this.loan?.fromUser || null;
    else this.otherUser = this.loan?.toUser || null;
  }

  async editLoan() {
    if (this.loan?.fulfilledAt || !this.loan?.approvedAt) return;

    await this.$router.push(`/loan/${this.loan?.id}/edit`);
  }

  async fulfillLoan() {
    if (this.loan?.fulfilledAt || !this.loan?.approvedAt || !this.loan?.id)
      return;

    let api = createAPI(ContraxAPI.LoanApiFactory);

    try {
      this.waitingForResponse = true;
      await api.createLoanMutation(this.loan.id, {
        fulfilled: true
      });
    } catch (e) {
      this.mutationError = (e as AxiosError)?.response
        ?.data as ContraxAPI.ModelError;
    } finally {
      this.waitingForResponse = false;
    }
    this.doLoad();
  }

  async rejectLoan() {
    if (!this.loan?.id) return;
    let api = createAPI(ContraxAPI.LoanApiFactory);

    try {
      this.waitingForResponse = true;
      await api.createLoanMutation(this.loan.id, {
        approved: false
      });
    } catch (e) {
      const err: AxiosError = e;
      if (err.response?.status === 304) await this.doLoad();
      else
        this.mutationError = (e as AxiosError)?.response
          ?.data as ContraxAPI.ModelError;
    } finally {
      this.waitingForResponse = false;
    }
    await this.$router.replace("/");
  }

  async approveLoan() {
    if (!this.loan?.id) return;
    let api = createAPI(ContraxAPI.LoanApiFactory);

    try {
      this.waitingForResponse = true;
      await api.createLoanMutation(this.loan.id, {
        approved: true
      });
    } catch (e) {
      const err: AxiosError = e;
      if (err.response?.status === 304) await this.doLoad();
      else
        this.mutationError = (e as AxiosError)?.response
          ?.data as ContraxAPI.ModelError;
    } finally {
      this.waitingForResponse = false;
    }
  }

  formatName(user?: ContraxAPI.User) {
    return formatName(user?.firstName ?? "", user?.lastName ?? "");
  }

  goBack() {
    if (window.history.length > 1) this.$router.back();
    else this.$router.replace("/");
  }

  fullDate(createdAt: Date): string {
    return createdAt.toDateString();
  }
}
</script>

<style scoped lang="scss">
.loan {
  display: flex;
  flex-direction: column;
  grid-column: 1 / 4;
}

.loan-header {
  display: flex;
  justify-content: space-between;

  padding-left: 1em;
  padding-right: 1em;
}

.mutation-error {
  margin-left: 1em;
}

.loan-information {
  display: flex;
  flex-direction: column;
  margin: 1em;
  font-family: "Roboto Slab", serif;

  & :not(:first-child) {
    margin-top: 0.4em;
  }
}

.center-absolute {
  position: relative;
  transform: translate(50%, 100%);
}

.loan-mutations > * {
  display: flex;
  border-top: 1px solid black;
  width: 100%;
}

.header-buttons {
  display: flex;
  justify-content: flex-end;
}

.header-buttons button {
  margin-left: 0.8em;
}

.button-icon {
  margin-right: 0.2em;
}

.loan-form {
  margin: 1em;
}

.error-container {
  margin-left: 1em;
}

.error-message {
  margin-left: 1em;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

.spinning svg {
  animation: spin 0.5s infinite linear;
  width: 2em;
  height: 2em;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
