<template>
  <div>
    <transition name="fade">
      <div v-show="loading" class="fade-in-out loading-icon">
        <br />
        <loading-icon class="spinning" />
      </div>
    </transition>

    <div v-if="!error && !loading && mutation" class="loan-mutation">
      <div class="header ">
        <div class="loan-mutation-header">
          <h3>Loan mutation by {{ formatName(mutation.byUser) }}</h3>

          <div class="header-buttons">
            <contrax-button
              @click="rejectMutation"
              :disabled="waitingForResponse"
            >
              <close-icon class="button-icon" />
              Reject
            </contrax-button>

            <contrax-button
              @click="acceptMutation"
              background-color="green"
              hover-background-color="#00aa00"
              v-if="canAcceptMutation"
              :disabled="waitingForResponse"
            >
              <check-icon class="button-icon" />
              Accept
            </contrax-button>
          </div>
        </div>

        <span v-if="!!mutationError" class="mutation-error">
          Could update mutation. The server said:
          <code>
            {{ mutationError.message }}
          </code>
        </span>
      </div>

      <div class="loan-mutation-information">
        <span>
          Created at:
          {{ mutation.createdAt.toDateString() }}
          {{ mutation.createdAt.toLocaleTimeString() }}
        </span>
        <br />

        <h3 class="mutations-header-text">Mutations</h3>
        <div class="loan-mutations">
          <span v-if="mutation.amount">
            Amount: {{ formatCurrencyNL(mutation.amount) }}
          </span>
          <span v-if="mutation.description">
            Description: {{ mutation.description }}
          </span>
          <span v-if="mutation.fulfilled">
            Fulfilled: yes (at
            {{ mutation.createdAt.toDateString() }}
            {{ mutation.createdAt.toLocaleTimeString() }})
          </span>
        </div>
      </div>
    </div>

    <div v-if="error" class="error-container">
      <h3>Could not get the loan</h3>
      <span>The server said:</span>
      <br />
      <code class="error-message">{{ error.message }}</code>
      <br />
      <contrax-button @click="goBack">Go back</contrax-button>
    </div>
  </div>
</template>

<script lang="ts">
import LoadingIcon from "vue-material-design-icons/Loading.vue";
import { Vue, Component } from "vue-property-decorator";
import * as ContraxAPI from "@/api";
import user from "@/store/modules/user";
import { formatCurrencyNL, formatName } from "@/format";
import ContraxButton from "@/components/ContraxButton.vue";
import CloseIcon from "vue-material-design-icons/Close.vue";
import CheckIcon from "vue-material-design-icons/Check.vue";
import { createAPI } from "@/apiUtils";
import loanMutation from "@/store/modules/loanMutation";
import { AxiosError } from "axios";

@Component({
  components: {
    CloseIcon,
    CheckIcon,
    ContraxButton,
    LoadingIcon
  }
})
export default class LoanMutation extends Vue {
  mutationError: ContraxAPI.ModelError | null = null;
  waitingForResponse: boolean = false;

  get error() {
    return loanMutation.error;
  }

  get loading() {
    return loanMutation.isLoading;
  }

  get mutation() {
    return loanMutation.loanMutation;
  }

  get id() {
    return Number(this.$router.currentRoute.params.id);
  }

  created() {
    if (user.signedIn) this.doLoad();
    else {
      this.$store.watch(
        _ => user.signedIn,
        (signedIn, oldSignedIn) => {
          if (signedIn && !oldSignedIn) this.doLoad();
        }
      );
    }
  }

  async doLoad() {
    try {
      await loanMutation.getByID(this.id);
    } catch (e) {
      this.mutationError = (e as AxiosError)?.response
        ?.data as ContraxAPI.ModelError;
    }
  }

  async acceptMutation() {
    this.waitingForResponse = true;
    let api = createAPI(ContraxAPI.LoanApiFactory);
    try {
      await api.updateLoanMutation(this.id, true);
      await this.goBack();
    } catch (e) {
      this.mutationError = (e as AxiosError)?.response
        ?.data as ContraxAPI.ModelError;
    } finally {
      this.waitingForResponse = false;
    }
  }

  async rejectMutation() {
    this.waitingForResponse = true;
    let api = createAPI(ContraxAPI.LoanApiFactory);
    try {
      await api.updateLoanMutation(this.id, false);
      await this.goBack();
    } catch (e) {
      this.mutationError = (e as AxiosError)?.response
        ?.data as ContraxAPI.ModelError;
    } finally {
      this.waitingForResponse = false;
    }
  }

  get canAcceptMutation() {
    return this.mutation?.byUser.id !== user.user?.id;
  }

  formatName(user?: ContraxAPI.User) {
    return formatName(user?.firstName ?? "", user?.lastName ?? "");
  }

  async goBack() {
    if (window.history.length > 1) this.$router.back();
    else await this.$router.replace("/");
  }

  formatCurrencyNL(amount: number) {
    return formatCurrencyNL(amount);
  }
}
</script>

<style scoped lang="scss">
.loan-mutation {
  display: flex;
  flex-direction: column;
  grid-column: 1/4;
}

.loan-mutation-header {
  display: flex;
  justify-content: space-between;

  padding-left: 1em;
  padding-right: 1em;
}

.mutations-header-text {
  font-family: "Roboto", sans-serif;

  padding-top: 0.5em;
  margin-bottom: 0.5em;
}

.mutation-error {
  margin-left: 1em;
}

.loan-mutation-information {
  display: flex;
  flex-direction: column;
  margin: 1em;
  font-family: "Roboto Slab", serif;

  & :not(:first-child) {
    margin-top: 0.4em;
  }
}

.loan-mutations > * {
  margin-left: 0.5em;
}

.header-buttons {
  display: flex;
  justify-content: flex-end;
}

.header-buttons button {
  margin-left: 0.8em;
}

.button-icon {
  margin-right: 0.2em;
}

.error-container {
  margin-left: 1em;
}

.error-message {
  margin-left: 1em;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

.spinning svg {
  animation: spin 0.5s infinite linear;
  width: 2em;
  height: 2em;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
