import {CreateLoanRequestReceivingUserEnum} from "@/api";
<template>
  <div class="new" id="new">
    <h1 class="header center">New</h1>
    <div class="column">
      <h3>Create new loan</h3>
      <form
        @submit.prevent="createLoan"
        id="new-form"
        ref="newForm"
        autocomplete="off"
      >
        <label for="other-user-email">Other user's email</label>
        <br />
        <input
          type="email"
          id="other-user-email"
          v-model="otherEmail"
          class="text-field"
          name="email"
          autocomplete="off"
          autofill="off"
          required
          autofocus
          oninvalid="setCustomValidity(' ')"
          oninput="try{setCustomValidity('')}catch(e){}"
          @keyup="
            checkValidity('other-user-email'),
              resetValidity('other-user-email-available')
          "
          @keyup.enter="focus('other-user-email', 'amount')"
          @blur="checkValidityAfter('other-user-email')"
        />
        <br />
        <div class="validity" id="other-user-email-validity">
          <p>Fill in a (valid) email address</p>
        </div>
        <div class="validity" id="other-user-email-available">
          <p>Unknown email address</p>
        </div>
        <br />
        <div id="select-user">
          <label for="select-user"
            >Select who needs to get the money back</label
          >
          <br />
          <label class="checkbox">
            <input
              type="radio"
              id="select-user-you"
              name="select-user"
              value="you"
              v-model="receivingUser"
              checked
            />
            <span class="checkmark"></span>
            You
          </label>
          <label class="checkbox">
            <input
              type="radio"
              id="select-user-other"
              value="other"
              name="select-user"
              v-model="receivingUser"
            />
            <span class="checkmark"></span>
            Other user
          </label>
        </div>
        <br />
        <label for="amount">Amount</label>
        <br />€
        <input
          type="text"
          inputmode="decimal"
          id="amount"
          v-model="amount"
          class="text-field"
          name="amount"
          data-type="currency"
          placeholder="1,00"
          autocomplete="off"
          autofill="off"
          required
          oninvalid="setCustomValidity(' ')"
          oninput="try{setCustomValidity('')}catch(e){}"
          @keyup="formatCurrency(), checkValidity('amount')"
          @keyup.enter="focus('amount', 'description')"
          @blur="formatCurrencyAfter(), checkCurrencyValidityAfter('amount')"
        />
        <div class="validity" id="amount-validity">
          <p>Fill in a (valid) amount</p>
        </div>
        <br />
        <br />
        <label for="description">Description</label>
        <br />
        <textarea
          type="text"
          id="description"
          v-model="description"
          class="text-field"
          name="description"
          maxlength="255"
          autocomplete="off"
          autofill="off"
          @keyup="checkValidity('description')"
          @blur="checkValidityAfter('description')"
        />
        <div class="validity" id="description-validity">
          <p>Max length is 255 characters</p>
        </div>
        <br />
        <input
          type="submit"
          value="Create loan"
          id="create-button"
          @keyup.enter="createLoan"
        />
        <div id="loan-made">
          <p>Loan was successfully created</p>
        </div>
      </form>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { createAPI } from "@/apiUtils";
import * as ContraxAPI from "@/api";
import { AxiosError } from "axios";
import {
  setElementValidity,
  setElementValidityAfter,
  setCurrencyValidityAfter,
  resetElementValidity,
  formatCurrencyElement,
  formatCurrencyElementAfter,
  focusElement,
  resetFormElement
} from "@/formFunctions";

@Component
export default class New extends Vue {
  otherEmail: string = "";
  receivingUser: "other" | "you" = "you";
  amount: string = "";
  description: string = "";

  mounted() {
    (this.$refs.newForm as HTMLElement).addEventListener(
      "keydown",
      this.formKeyDown
    );
  }

  formatCurrency() {
    this.amount = formatCurrencyElement(this.amount);
  }

  formatCurrencyAfter() {
    this.amount = formatCurrencyElementAfter(this.amount);
  }

  checkValidity(elementId: string) {
    setElementValidity(elementId);
  }

  checkValidityAfter(elementId: string) {
    setElementValidityAfter(elementId);
  }

  checkCurrencyValidityAfter(elementId: string) {
    setCurrencyValidityAfter(elementId);
  }

  resetValidity(elementId: string) {
    resetElementValidity(elementId);
  }

  focus(inputElementId: string, focusElementId: string) {
    focusElement(inputElementId, focusElementId);
  }

  async createLoan() {
    this.formatCurrencyAfter();

    if (!this.allFieldsAreFilled()) return;

    try {
      let success = await this.tryCreateLoan();
      if (success) this.resetForm("new-form", "other-user-email");
    } catch (e) {
      const err: AxiosError = e;

      let ident = (err.response?.data as ContraxAPI.ModelError).identifier;
      if (ident) {
        if (ident == "USER_NOT_FOUND") {
          let element = document.getElementById(
            "other-user-email-available"
          ) as HTMLElement;
          element.style.display = "initial";
          element = document.getElementById("other-user-email") as HTMLElement;
          element.focus();
        }
      }
    }
  }

  resetForm(formElementId: string, focusElementId: string) {
    resetFormElement(formElementId, focusElementId);
    resetElementValidity("amount-validity");
    resetElementValidity("other-user-email-validity");
    let element = document.getElementById("loan-made") as HTMLElement;
    element.style.display = "initial";
  }

  async tryCreateLoan() {
    let amount = parseFloat(this.amount);
    if (isNaN(amount) || amount === 0) return false;

    await createAPI(ContraxAPI.LoanApiFactory).createLoan({
      amount: Number(this.amount),
      otherUserEmail: this.otherEmail,
      receivingUser:
        this.receivingUser == "you"
          ? ContraxAPI.CreateLoanRequestReceivingUserEnum.Current
          : ContraxAPI.CreateLoanRequestReceivingUserEnum.Other,
      description: this.description
    });
    return true;
  }

  allFieldsAreFilled() {
    return this.otherEmail != "" && this.amount != "";
  }

  formKeyDown(event: KeyboardEvent) {
    return event.key !== "Enter";
  }
}
</script>

<style lang="scss" scoped>
.new-form {
  margin-top: 1em;
  margin-bottom: 1em;
}

#create-button {
  background-color: #cc0000;
  /*border: 1px solid purple;*/
  border: 0;
  border-radius: 5px;
  color: white;
  margin-top: 15px;
  padding: 0.4em 0.8em;
  margin-bottom: 1vw;

  font-family: "Roboto", sans-serif;
  font-size: 1.15em;
  transition-duration: 0.4s;

  -webkit-box-shadow: 2px 2px 8px 0 rgba(204, 204, 204, 1);
  -moz-box-shadow: 2px 2px 8px 0 rgba(204, 204, 204, 1);
  box-shadow: 2px 2px 8px 0 rgba(204, 204, 204, 1);

  &:focus {
    outline: none !important;
  }

  &::-moz-focus-inner {
    border: 0;
  }

  &:hover,
  &:focus {
    background-color: #ff1f1f;
    color: white;
  }
}

.validity {
  display: none;
  color: #cc0000;
}

#loan-made {
  display: none;
  color: green;
}

label {
  font-size: 1em;
}

textarea,
.text-field {
  padding: 0.5em;
  margin-top: 3px;
  outline: none;
  border: 0;
  background-color: #f9f9f9;
  border-bottom: 2px solid grey;
  max-width: 50vw;

  &:hover,
  &:focus {
    background-color: #f3f3f3;
  }
}

.checkbox {
  display: block;
  position: relative;
  padding-left: 1.5em;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1em;
  width: 1em;
  background-color: #f9f9f9;
  border-radius: 50%;
  border: 2px solid gray;
}

.checkbox input:checked ~ .checkmark {
  background-color: #cc0000;
}

.checkbox:hover input ~ .checkmark {
  background-color: #ff1f1f;
}
</style>
