<template>
  <div class="new">
    <h1 class="header center">Page Not Found</h1>
    <div class="column center" id="sorry">
      <h2 class="center">We're so sorry</h2>
      <img
        src="@/assets/images/sad-potato.jpg"
        id="sad-potato"
        alt="sad potato"
      />
      <br />
      <router-link to="/" id="go-home-button">
        <contrax-button>Go home</contrax-button>
      </router-link>
    </div>
  </div>
</template>

<script>
import { Vue, Component } from "vue-property-decorator";
import ContraxButton from "@/components/ContraxButton";

@Component({
  components: { ContraxButton }
})
export default class PageNotFound extends Vue {}
</script>

<style lang="scss" scoped>
#sorry {
  grid-column: 1/4;
}

#sad-potato {
  width: 50%;
  padding-bottom: 5em;
}

#go-home-button {
  margin-bottom: 1em;
}
</style>
