<template>
  <div class="sign-in-register" id="sign-in-up">
    <h1 class="header center">
      Welcome <contrax-logo class="contrax-logo center" />
    </h1>
    <div class="column-line"></div>
    <div class="column column-left row2">
      <h3>Sign in</h3>
      <form @submit.prevent="logIn" class="sign-in-up-form">
        <label for="login-email">Email address</label>
        <br />
        <input
          type="email"
          id="login-email"
          v-model="loginEmail"
          class="text-field"
          name="email"
          required
          autofocus
          oninvalid="setCustomValidity(' ')"
          oninput="try{setCustomValidity('')}catch(e){}"
          @keyup="
            checkValidity('login-email'), resetValidity('login-email-available')
          "
          @blur="checkValidityAfter('login-email')"
        />
        <br />
        <div class="validity" id="login-email-validity">
          <p>Fill in your email address</p>
        </div>
        <div class="validity" id="login-email-available">
          <p>Unknown email address</p>
        </div>
        <br />
        <label for="login-password">Password</label>
        <br />
        <input
          type="password"
          id="login-password"
          v-model="loginPassword"
          class="text-field"
          name="password"
          autocomplete="current-password"
          required
          oninvalid="setCustomValidity(' ')"
          oninput="try{setCustomValidity('')}catch(e){}"
          @keyup="checkValidity('login-password')"
          @blur="checkValidityAfter('login-password')"
        />
        <br />
        <div class="validity" id="login-password-validity">
          <p>Fill in your password</p>
        </div>
        <input type="submit" value="Sign in" class="sign-in-up-button" />
        <div id="login-error">
          <p>Email or password is incorrect</p>
        </div>
      </form>
    </div>

    <div class="row-line row3"></div>

    <div class="column column-right row4">
      <h3>Register</h3>
      <form @submit.prevent="register" class="sign-in-up-form">
        <label for="register-first-name">First Name</label>
        <br />
        <input
          type="text"
          id="register-first-name"
          v-model="registerFirstName"
          class="text-field"
          name="fname"
          autocomplete="given-name"
          required
          oninvalid="setCustomValidity(' ')"
          oninput="try{setCustomValidity('')}catch(e){}"
          @keyup="checkValidity('register-first-name')"
          @blur="checkValidityAfter('register-first-name')"
        />
        <br />
        <div class="validity" id="register-first-name-validity">
          <p>Fill in your first name</p>
        </div>
        <br />
        <label for="register-last-name">Last Name</label>
        <br />
        <input
          type="text"
          id="register-last-name"
          v-model="registerLastName"
          class="text-field"
          name="lname"
          autocomplete="family-name"
          required
          oninvalid="setCustomValidity(' ')"
          oninput="try{setCustomValidity('')}catch(e){}"
          @keyup="checkValidity('register-last-name')"
          @blur="checkValidityAfter('register-last-name')"
        />
        <br />
        <div class="validity" id="register-last-name-validity">
          <p>Fill in your last name</p>
        </div>
        <br />
        <label for="register-email">Email address</label>
        <br />
        <input
          type="email"
          id="register-email"
          v-model="registerEmail"
          class="text-field"
          name="email"
          required
          oninvalid="setCustomValidity(' ')"
          oninput="try{setCustomValidity('')}catch(e){}"
          @keyup="checkValidity('register-email')"
          @blur="checkValidityAfter('register-email')"
        />
        <br />
        <div class="validity" id="register-email-validity">
          <p>Fill in your (valid) email address</p>
        </div>
        <br />
        <label for="register-password">Password</label>
        <br />
        <input
          type="password"
          id="register-password"
          v-model="registerPassword"
          class="text-field"
          name="password"
          autocomplete="new-password"
          required
          oninvalid="setCustomValidity(' ')"
          oninput="try{setCustomValidity('')}catch(e){}"
          @keyup="checkValidity('register-password')"
          @blur="checkValidityAfter('register-password')"
        />
        <br />
        <div class="validity" id="register-password-validity">
          <p>Fill in a new password</p>
        </div>
        <br />
        <label for="register-password-check">Re-enter password</label>
        <br />
        <input
          type="password"
          id="register-password-check"
          v-model="registerPasswordCheck"
          class="text-field"
          :style="registerPasswordCheckBackgroundColor"
          name="password"
          autocomplete="off"
          required
          oninvalid="setCustomValidity(' ')"
          oninput="try{setCustomValidity('')}catch(e){}"
          @keyup="checkValidity('register-password-check')"
          @blur="checkValidityAfter('register-password-check')"
        />
        <br />
        <div class="validity" id="register-password-check-validity">
          <p>Repeat your password</p>
        </div>
        <input type="submit" value="Register" class="sign-in-up-button" />
        <div id="register-error">
          <p>Could not register</p>
        </div>
      </form>
    </div>
  </div>
</template>

<script lang="ts">
// @ is an alias to /src
import { Vue, Component } from "vue-property-decorator";
import ContraxLogo from "@/assets/images/contrax-logo.svg";
import user from "@/store/modules/user";
import router from "@/router";
import {
  setElementValidity,
  setElementValidityAfter,
  resetElementValidity
} from "@/formFunctions";

@Component({ components: { ContraxLogo } })
export default class SignInRegister extends Vue {
  loginEmail: string = "";
  loginPassword: string = "";
  registerEmail: string = "";
  registerPassword: string = "";
  registerFirstName: string = "";
  registerLastName: string = "";
  registerPasswordCheck: string = "";

  checkValidity(elementId: string) {
    setElementValidity(elementId);
  }

  checkValidityAfter(elementId: string) {
    setElementValidityAfter(elementId);
  }

  resetValidity(elementId: string) {
    resetElementValidity(elementId);
  }

  created() {
    if (user.signedIn) router.push("/");
  }

  get registerPasswordCheckOk() {
    return (
      this.registerPassword === "" ||
      this.registerPasswordCheck === "" ||
      this.registerPassword === this.registerPasswordCheck
    );
  }

  get registerPasswordCheckBackgroundColor() {
    return {
      backgroundColor: !this.registerPasswordCheckOk ? "#ff471aaa" : undefined
    };
  }

  async logIn() {
    if (this.loginEmail === "" || this.loginPassword === "") {
      return;
    }

    await user.logIn({
      email: this.loginEmail,
      password: this.loginPassword,
      load: true
    });

    if (user.error != null) {
      let element = document.getElementById("login-error") as HTMLElement;
      element.style.display = "initial";
    }
  }

  async register() {
    if (
      this.registerFirstName === "" ||
      this.registerLastName === "" ||
      this.registerEmail === "" ||
      this.registerPassword === ""
    ) {
      return;
    }

    if (this.registerPassword !== this.registerPasswordCheck) {
      return;
    }

    await user.register({
      email: this.registerEmail,
      firstName: this.registerFirstName,
      lastName: this.registerLastName,
      password: this.registerPassword
    });

    if (user.error != null) {
      let element = document.getElementById("register-error") as HTMLElement;
      element.style.display = "initial";
    }
  }
}
</script>

<style lang="scss" scoped>
#sign-in-up {
  grid-column: 1 / 5;
}

.validity,
#login-error,
#register-error {
  display: none;
  color: #cc0000;
}

.sign-in-up-button {
  background-color: #cc0000;
  /*border: 1px solid purple;*/
  border: 0;
  border-radius: 5px;
  color: white;
  margin-top: 15px;
  padding: 0.4em 0.8em;

  font-family: "Roboto", sans-serif;
  font-size: 1.15em;
  transition-duration: 0.4s;

  -webkit-box-shadow: 2px 2px 8px 0 rgba(204, 204, 204, 1);
  -moz-box-shadow: 2px 2px 8px 0 rgba(204, 204, 204, 1);
  box-shadow: 2px 2px 8px 0 rgba(204, 204, 204, 1);
}

.sign-in-up-button:focus {
  outline: none !important;
}

.sign-in-up-button::-moz-focus-inner {
  border: 0;
}

.sign-in-up-button:hover,
.sign-in-up-button:focus {
  background-color: #ff1f1f;
  color: white;
}

.sign-in-up-form {
  margin-top: 1em;
  margin-bottom: 1em;
}

label {
  font-size: 1em;
}

.text-field {
  padding: 0.5em;
  margin-top: 3px;
  outline: none;
  border: 0;
  background-color: #f9f9f9;
  border-bottom: 2px solid grey;
}

.text-field:hover,
.text-field:focus {
  background-color: #f3f3f3;
}

.contrax-logo {
  height: 1em;
  width: 1em;
}

@media screen and (max-width: 1200px) {
  #sign-in-up {
    grid-row: 1;
  }
}
</style>
