<template>
  <button
    class="contrax-button"
    v-bind="$attrs"
    v-on="$listeners"
    v-bind:style="styleObject"
  >
    <slot />
  </button>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component({ inheritAttrs: false })
export default class ContraxButton extends Vue {
  @Prop({ default: "#cc0000" }) backgroundColor!: string;
  @Prop({ default: "#ff1f1f" }) hoverBackgroundColor!: string;
  @Prop({ default: "white" }) color!: string;
  @Prop({ default: "white" }) hoverColor!: string;

  get styleObject() {
    return {
      "--background-color": this.backgroundColor,
      "--hover-background-color": this.hoverBackgroundColor,
      "--color": this.color,
      "--hover-color": this.hoverColor
    };
  }
}
</script>

<style scoped lang="scss">
.contrax-button {
  border: 0;
  border-radius: 5px;
  margin-top: 15px;
  padding: 0.4em 0.8em;
  margin-bottom: 1vw;
  font-family: "Roboto", sans-serif;
  font-size: 1.15em;
  transition-duration: 0.4s;
  -webkit-box-shadow: 2px 2px 8px 0 rgba(204, 204, 204, 1);
  -moz-box-shadow: 2px 2px 8px 0 rgba(204, 204, 204, 1);
  box-shadow: 2px 2px 8px 0 rgba(204, 204, 204, 1);

  background-color: var(--background-color);
  color: var(--color);

  &:focus {
    outline: none !important;
  }

  &::-moz-focus-inner {
    border: 0;
  }

  &:hover,
  &:focus {
    background-color: var(--hover-background-color);
    color: var(--hover-color);
  }

  &:disabled {
    background-color: gray;
  }
}
</style>
