<template>
  <div class="footer">
    <span>© Contrax</span>
    <a href="https://contrax.gitlab.io/api" class="api-link">API</a>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component
export default class ContraxFooter extends Vue {}
</script>

<style scoped lang="scss">
.footer {
  display: flex;
  justify-content: space-between;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1em;
  margin: 1em;
}

.api-link {
  text-decoration: none;
  color: black;

  &:hover {
    text-decoration: underline;
  }
}
</style>
