<template>
  <input class="contrax-text-input" v-on="$listeners" />
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component({ inheritAttrs: true })
export default class ContraxButton extends Vue {}
</script>

<style scoped lang="scss">
.contrax-text-input {
  padding: 0.5em;
  margin-top: 3px;
  outline: none;
  border: 0;
  background-color: #f9f9f9;
  border-bottom: 2px solid grey;

  &:hover,
  &:focus {
    background-color: #f3f3f3;
  }
}
</style>
