<template>
  <div class="loans">
    <transition name="fade">
      <div v-show="loading" class="fade-in-out loading-icon">
        <br />
        <loading-icon class="spinning" />
      </div>
    </transition>

    <table id="loans-table">
      <thead>
        <tr>
          <th>Amount</th>
          <th>Name</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <router-link
          :to="{ path: `/loan/${loan.id}` }"
          tag="tr"
          v-for="loan in loans"
          :key="loan.id"
          :title="mouseoverText(loan)"
        >
          <td>{{ formatAmount(loan.amount) }}</td>
          <td>{{ fullName(otherUser(loan)) }}</td>
          <td>
            <div class="loan-date-container">
              {{ fullDate(loan.createdAt) }}

              <div class="loan-dots">
                <span
                  class="has-mutations"
                  v-if="loan.hasPendingMutations"
                  title="Has mutations"
                ></span>
                <span
                  class="not-approved"
                  v-if="!loan.approvedAt"
                  title="Not approved yet"
                ></span>
              </div>
            </div>
          </td>
        </router-link>
      </tbody>
    </table>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";
import loans from "@/store/modules/loans";
import user from "@/store/modules/user";
import LoadingIcon from "vue-material-design-icons/Loading.vue";
import * as ContraxAPI from "@/api";
import { formatCurrencyNL, formatName } from "@/format";

@Component({
  components: { LoadingIcon }
})
export default class Loans extends Vue {
  @Prop({ default: "all" }) loanType!: "debt" | "credit" | "all";
  @Prop({ default: "all" }) status!: "open" | "fulfilled" | "all";

  get loading(): boolean {
    return loans.isLoading;
  }

  created() {
    if (user.signedIn) this.doLoad();
    else {
      this.$store.watch(
        _ => user.signedIn,
        (signedIn, oldSignedIn) => {
          if (signedIn && !oldSignedIn) this.doLoad();
        }
      );
    }
  }

  get loans() {
    let filteredLoans = loans.loans;

    switch (this.loanType) {
      case "debt":
        filteredLoans = _debtLoans(filteredLoans);
        break;
      case "credit":
        filteredLoans = _creditLoans(filteredLoans);
    }

    switch (this.status) {
      case "open":
        filteredLoans = _openLoans(filteredLoans);
        break;
      case "fulfilled":
        filteredLoans = _closedLoans(filteredLoans);
    }

    return filteredLoans;
  }

  async doLoad() {
    if (!loans.isLoading) await loans.refresh();
  }

  otherUser(loan: ContraxAPI.Loan) {
    if (!user.user) return undefined;
    if (user.user.id !== loan.fromUser!!.id) return loan.fromUser;
    return loan.toUser;
  }

  fullDate(createdAt: Date): string {
    return createdAt.toDateString();
  }

  fullName(user: ContraxAPI.User): string {
    return formatName(user.firstName, user.lastName);
  }

  formatAmount(amount: number): string {
    return formatCurrencyNL(amount);
  }

  mouseoverText(loan: ContraxAPI.Loan) {
    return loan.description ? `Description: ${loan.description}` : undefined;
  }
}

function _openLoans(loans: ContraxAPI.Loan[]): ContraxAPI.Loan[] {
  return loans.filter(loan => {
    if (!loan) return false;
    if (!user.user) return false;
    return loan.fulfilledAt === undefined;
  });
}

function _closedLoans(loans: ContraxAPI.Loan[]): ContraxAPI.Loan[] {
  return loans.filter(loan => {
    if (!loan) return false;
    if (!user.user) return false;
    return loan.fulfilledAt !== undefined;
  });
}

function _creditLoans(loans: ContraxAPI.Loan[]): ContraxAPI.Loan[] {
  return loans.filter(loan => {
    if (!loan) return false;
    if (!user.user) return false;
    return loan.fromUser.id === user.user.id;
  });
}

function _debtLoans(loans: ContraxAPI.Loan[]): ContraxAPI.Loan[] {
  return loans.filter(loan => {
    if (!loan) return false;
    if (!user.user) return false;
    return loan.toUser.id === user.user.id;
  });
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
#loans-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 0.5em;
  margin-bottom: 0.5em;

  & thead {
    border-bottom: 1px solid black;
  }

  & th,
  & td {
    text-align: left;
    padding: 0.2em 0.5em;
    cursor: pointer;
  }

  & th:not(:first-child),
  & td:not(:first-child) {
    border-left: 1px solid black;
  }

  & :not(thead) tr:hover {
    background-color: lightgrey;
    transition: 0.1s;
  }
}

.loan-date-container {
  display: flex;
  justify-content: space-between;
}

.loan-dots {
  display: flex;
}

.loan-dots :not(:last-child) {
  margin-right: 0.2em;
}

.has-mutations {
  display: block;
  height: 0.5em;
  width: 0.5em;
  margin-top: 0.5em;
  background-color: #990000;
  border-radius: 100%;
}

.not-approved {
  display: block;
  height: 0.5em;
  width: 0.5em;
  margin-top: 0.5em;
  background-color: green;
  border-radius: 100%;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

.spinning svg {
  animation: spin 0.5s infinite linear;
  width: 2em;
  height: 2em;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
