<template>
  <div>
    <div v-if="!error" class="loan-mutations">
      <transition name="fade">
        <div v-show="loading" class="fade-in-out loading-icon">
          <br />
          <loading-icon class="spinning" />
        </div>
      </transition>

      <h3 class="mutations-header-text">Mutations</h3>
      <table class="loan-mutations-table">
        <thead>
          <tr>
            <th>Created by</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <router-link
            tag="tr"
            v-for="mutation in loanMutations"
            :key="mutation.id"
            :to="{ path: `/mutation/${mutation.id}` }"
          >
            <td>{{ formatName(mutation.byUser) }}</td>
            <td>
              {{ mutation.createdAt.toDateString() }}
              {{ mutation.createdAt.toLocaleTimeString() }}
            </td>
          </router-link>
        </tbody>
      </table>
    </div>

    <div v-if="error" class="error-container">
      <h3>Could not get the loan</h3>
      <span>The server said:</span>
      <br />
      <code class="error-message">{{ error.message }}</code>
    </div>
  </div>
</template>

<script lang="ts">
import Loans from "@/components/Loans.vue";
import { Vue, Component, Prop, Watch } from "vue-property-decorator";
import * as ContraxAPI from "@/api";
import user from "@/store/modules/user";
import { formatName } from "@/format";
import ContraxButton from "@/components/ContraxButton.vue";
import loan from "@/store/modules/loan";
import PencilOutlineIcon from "vue-material-design-icons/PencilOutline.vue";
import CheckIcon from "vue-material-design-icons/Check.vue";
import ContraxTextInput from "@/components/ContraxTextInput.vue";
import loanMutations from "@/store/modules/loanMutations";
import LoadingIcon from "vue-material-design-icons/Loading.vue";

@Component({
  components: {
    PencilOutlineIcon,
    CheckIcon,
    ContraxButton,
    Loans,
    LoadingIcon,
    ContraxTextInput
  }
})
export default class LoanMutations extends Vue {
  @Prop({ default: null }) loanId!: number | null;

  get error() {
    return loan.error;
  }

  get loading() {
    return loanMutations.isLoading;
  }

  created() {
    if (user.signedIn) this.doLoad();
    else {
      this.$store.watch(
        _ => user.signedIn,
        (signedIn, oldSignedIn) => {
          if (signedIn && !oldSignedIn) this.doLoad();
        }
      );
    }
  }

  get loanMutations() {
    return loanMutations.loanMutations;
  }

  async doLoad() {
    if (!this.loanId) return;
    if (!loanMutations.isLoading) await loanMutations.getByLoanId(this.loanId);
  }

  formatName(user?: ContraxAPI.User) {
    return formatName(user?.firstName ?? "", user?.lastName ?? "");
  }
}
</script>

<style scoped lang="scss">
.mutations-header-text {
  margin: 0.5em;
}

.loan-mutations-table {
  width: 100%;
  border-collapse: collapse;

  & thead {
    border-bottom: 1px solid black;
  }

  & th,
  & td {
    text-align: left;
    padding: 0.2em 0.5em;
    cursor: pointer;
  }

  & th:not(:first-child),
  & td:not(:first-child) {
    border-left: 1px solid black;
  }

  & :not(thead) tr:hover {
    background-color: lightgrey;
    transition: 0.1s;
  }
}

.loan-mutations {
  width: 100%;
  margin: 0.5em;
}

.error-container {
  margin-left: 1em;
}

.error-message {
  margin-left: 1em;
}

.loan {
  grid-column: 1/4;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

.spinning svg {
  animation: spin 0.5s infinite linear;
  width: 2em;
  height: 2em;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
