<template>
  <div id="app">
    <div class="card" id="nav" :style="navVisible">
      <router-link class="nav-item" to="/" tag="button">
        <home-icon class="nav-item-icon" />&nbsp;Home
      </router-link>
      <router-link class="nav-item" to="/history" tag="button">
        <history-icon class="nav-item-icon" />&nbsp;History
      </router-link>
      <router-link class="nav-item" to="/new" tag="button">
        <plus-circle-outline-icon class="nav-item-icon" />&nbsp;New
      </router-link>
      <button class="nav-item" @click="logOut">
        <logout-icon class="nav-item-icon" />&nbsp;Log out
      </button>
    </div>
    <div class="card" id="page" :class="pageWithoutNav">
      <router-view />
    </div>
    <contrax-footer></contrax-footer>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import HomeIcon from "vue-material-design-icons/Home.vue";
import HistoryIcon from "vue-material-design-icons/History.vue";
import PlusCircleOutlineIcon from "vue-material-design-icons/PlusCircleOutline.vue";
import LogoutIcon from "vue-material-design-icons/Logout.vue";
import ContraxFooter from "@/components/ContraxFooter.vue";
import user from "@/store/modules/user";

@Component({
  components: {
    HistoryIcon,
    HomeIcon,
    PlusCircleOutlineIcon,
    LogoutIcon,
    ContraxFooter
  }
})
export default class App extends Vue {
  get navVisible() {
    return { display: user.signedIn ? undefined : "none" };
  }
  get pageWithoutNav() {
    return { "page-no-nav": !user.signedIn };
  }

  created() {
    this.checkSignIn();

    this.$store.watch(
      _ => user.signedIn,
      (value: boolean) => {
        if (!value && this.$router.currentRoute.path !== "/signIn")
          this.$router.push("/signIn");
        else if (value && this.$router.currentRoute.path === "/signIn")
          this.$router.push("/");
      }
    );
  }

  async checkSignIn() {
    await user.refresh();

    if (!user.signedIn && this.$router.currentRoute.path !== "/signIn")
      await this.$router.push("/signIn");
  }

  async logOut() {
    await user.logOut();
  }
}
</script>

<style lang="scss">
#app {
  margin: 2%;
  display: grid;
  grid-template-columns: 15% 30% 0 30% 15%;
  grid-template-rows: auto auto;
  grid-column-gap: 2%;
  justify-content: space-between;
}

.card {
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
}

#nav {
  background-color: #cc0000;
  grid-column: 1;
  grid-row: 1;
}

.nav-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;

  border: 0;
  margin: 0;
  padding: 0.5em;

  color: white;
  background-color: transparent;
  text-align: left;
  font-size: 1.15em;
  font-family: "Roboto", sans-serif;

  transition-duration: 0.4s;

  &:focus {
    outline: none !important;
  }

  &::-moz-focus-inner {
    border: 0;
  }

  &:not(:last-child) {
    border-bottom: 1px solid #990000;
  }

  &:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  &:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  &:hover {
    background-color: #ff1f1f;
    color: white;
  }
}

.nav-item-icon {
  font-size: 1.25em;
  margin-bottom: 0.2em;
  margin-right: 0.5em;
}

#page {
  float: right;
  grid-row: 1 / 3;
  grid-column: 2 / 6;
}

.home,
.history,
.new,
.loan,
.sign-in-register {
  grid-column: 2 / 5;

  display: grid;
  grid-template-columns: 1fr 0 1fr;
  grid-template-rows: auto auto;
  grid-gap: 0 0;
}

.header {
  grid-column: 1 / 4;
  grid-row: 1;
  margin: 0;
  padding: 0.5vw;
  border-bottom: 3px solid gray;
}

.center {
  text-align: center;
}

.loading-icon {
  position: relative;
  height: 0;
  width: 0;
  left: 50%;
}

.column {
  margin: 0 1vw;
}

.column-left {
  grid-column: 1;
}

.column-line {
  display: initial;
  grid-column: 2;
  grid-row: 2 / 4;
  border-left: 2px solid gray;
  height: 100%;
}

.row-line {
  display: none;
}

.column-right {
  grid-column: 3;
}

.debt {
  padding-bottom: 1vw;
  border-bottom: 3px solid #990000;
}

.credit {
  padding-bottom: 1vw;
  border-bottom: 3px solid green;
}

.page-no-nav {
  grid-column: 2 / 5 !important;
}

@media screen and (max-width: 1200px) {
  #nav {
    grid-column: 1 / 6;
    grid-row: 1;
  }

  #page {
    grid-column: 1 / 6;
    grid-row: 2;
  }

  .page-no-nav {
    grid-column: 1 / 6 !important;
    grid-row: 1 / 2 !important;
  }

  #app {
    grid-row-gap: 5vw;
  }

  .column {
    grid-column: 1/6;
  }

  .column-line {
    display: none;
  }

  .row-line {
    display: initial;
    grid-column: 1 / 6;
    margin: 0;
    padding: 0.5vw;
    border-bottom: 3px solid gray;
  }

  .column-left {
    grid-column: 1/6;
  }

  .column-right {
    grid-column: 1/6;
  }

  .row1 {
    grid-row: 1/2;
  }

  .row2 {
    grid-row: 2/3;
  }

  .row3 {
    grid-row: 3/4;
  }

  .row4 {
    grid-row: 4/5;
  }

  .row5 {
    grid-row: 5/6;
  }

  .row6 {
    grid-row: 6/7;
  }
}
</style>
